@import "layout/var";

.company-info {
    width: 255px;
    min-height: 298px;
    border-radius: 6px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.4);
    background-color: #2e2d2d;
    padding: 14px 20px 43px;
    display: flex;
    flex-direction: column;

    &__top {
        margin-bottom: 30px;
        width: 100%;
    }

    &__bott {
        margin-top: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__logo {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 12px;
    }

    &__name {
        font-size: 20px;
        font-weight: $bold;
        color: #fff;
    }

    &__descr {
        font-size: 14px;
        color: #fff;
    }

    &__show-more {
        display: block;
        max-width: 143px;
        text-align: center;
        width: 100%;
        padding: 5px 15px;
        color: #fff;
        font-size: 11px;
        letter-spacing: -0.1px;
        border: 1px solid #fff;
        border-radius: 6px;
        transition: 0.3s;

        &:hover {
            text-decoration: none;
            background-color: #fff;
            border-color: #231f20;
            color: #231f20;
        }
    }
}
