@import "layout/var";

.request-more {
    &__dialog {
        max-width: 540px;

        @media (max-width: 767px) {
            max-width: 290px;
            margin: 15px auto;
        }
    }

    &__body {
        padding: 29px 98px 40px;

        @media (max-width: 767px) {
            padding: 30px 16px;
        }
    }
}