@import "layout/var";

body {
    font-family: $mont;
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

input, button, textarea, select {
    outline: none;
}

.vb-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__content {
        flex: 1 0 auto;
        padding-top: 60px;

        &--grey {
            background: #f3f3f4;
        }
    }

    &__footer {
        flex: 0 0 auto;

        @media (max-width: 767px) {
            position: relative;
            overflow: hidden;
        }
    }
}