@import "layout/var";

.capitalequity-content {
    padding: 30px 15px;
    &__title {
        text-align: center;
        color: #000000;
        font-size: 28px;
        font-weight: $bold;
    }
    &__items {
        padding-top: 64px;
    }
    &__sponsors {
        padding-top: 70px;
    }

    &__button {
        width: 176px;
        display: block;
        margin: 0 auto;
        margin-top: 60px;
        color: #fff;
        background-color: #231f20;
        border-radius: 6px;
        padding: 12px 42px;
        font-size: 16px;
        transition: 0.3s;
        border: 1px solid transparent;

        &:hover {
            text-decoration: none;
            background-color: #fff;
            border-color: #231f20;
            color: #231f20;
        }
    }
}