@import "layout/var";

.form-groupe {
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 30px 30px 21px;

    &__title {
        text-align: center;
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 23px;
        font-weight: $medium;
    }

    &--margin-top {
        margin-top: 40px;
    }
}
