@import "layout/var";

.form-row-inp {
    display: flex;
    flex-wrap: wrap;

    &__side {
        width: 50%;

        &:nth-child(odd) {
            padding-right: 10px;
        }

        &:nth-child(even) {
            padding-left: 10px;
        }
    }
}
